#which ports to use to provide telnet and gdb services
telnet_port 4444
gdb_port 3333

#reset the target on startup (reset | attach)
#daemon_startup reset

#interface configuration
interface ft2232
#jtag_speed 0 		#use maximum speed
#jtag_rclk 5 ??

reset_config srst_only

#jtag_device 4 0x1 0xF 0xE

ft2232_device_desc "Dual RS232 A"
ft2232_layout usbjtag

#ft2232_vid_pid 0x00 0x00 , must be used for OSes other than Windows

#we use an arm7tdmi little endian system and request an
#immediate halt after reset of the processor
target arm7tdmi little run_and_init 0 arm7tdmi_r4
run_and_halt_time 0 30

#flash instructions
target_script 0 reset ARM7_Flash.script

working_area 0 0x40000000 0x4000 nobackup

flash bank at91sam7 0 0 0 0 0


